*{
  box-sizing: border-box;
}

body{
  background-image: url(../img/bg.png);
}

.all{
  width: 50%;
  margin: auto;
}

table tr td{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.cell{
  height: 50px;
  width: 50px;
  background-color: #272932;
  text-align: center;
  color: blanchedalmond;
}

.hidden {
  color: transparent;
  background-color: #B6C2D9;
}

.time-display {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}
.emoji{
  margin-left: 13%;
  cursor: pointer;
}

button{
cursor: pointer;
}

.timer{
  align-items: center;
  color:blanchedalmond;
 margin-left: 13%;
  
}
.numMines, .numFlags, .numShowns{
  color:blanchedalmond;
  margin-left: 15px;

}

footer{
  color: blanchedalmond;
}

.unselectable {

  -webkit-user-select: none;
  
  -webkit-touch-callout: none; -moz-user-select: none;
  
  -ms-user-select: none; user-select: none; 
  }