html,
body {
  background-color: #F9FBF2;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.minesweeper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.score-border {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

table tr td {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.cell {
  height: 40px;
  width: 40px;
  background-color: #50a1c1;
  text-align: center;
  color: blanchedalmond;
}

.hidden {
  color: transparent;
  background-color: #B6C2D9;
}
.hidden:hover {
  color: transparent;
  background-color: #E3D0D8;
}

.emoji {
  background-color: #F9FBF2;
  cursor: pointer;
  border: none;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

button {
  background-color: #ffff;
  cursor: pointer;
}

.btn-easy{
  border: none;
  color: #ffff;
  background-color: green;
  padding: 3px;
}

.btn-medium{
  border: none;
  color: #ffff;
  background-color: orange;
  padding: 3px;
}
.btn-expert{
  border: none;
  color: #ffff;
  background-color: red;
  padding: 3px;
}

button:hover{
  opacity: 0.6;
}

.timer,
.numMines,
.numFlags,
.numShowns {
  color: #1C2541;
  font: bold;
}

footer {
  color: 1C2541;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
